li{
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

.feedback-message{
  display: none;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-color: #2ecc71;
}
